body {
    font-family: Arial, sans-serif;
    background-color: #d3d7d6;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background: rgb(231, 237, 218);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(91, 221, 225, 0.1);
}

.left-section {
    background: #c1c2f8;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #dc8bb9;
}



.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid#dc8bb9 ;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #e63946;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: round;
    padding: 10px;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

.right-section {
    padding: 20px;
    width: 65%;
}

button:hover {
    background: #ff737c;
}

/* Initially hide the skills section */
#skills {
    display: none;
}
